<a href="https://colab.research.google.com/github/milayacharlieCvSU/CPEN65-1/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Accessing the elements in an array.
animals = ['cat', 'dog', 'fish']
x = animals[0]
y = animals[1]
z = animals[2]
print('animals[0] =', x)
print('animals[1] =', y)
print('animals[2] =', z)

animals[0] = cat
animals[1] = dog
animals[2] = fish

In [3]:
# Modifying the element/s in the array.
animals = ['cat', 'dog', 'fish']
animals[0] = "monkey"
x = animals[0]
print('animals[0] =', x)
print(animals)

animals[0] = monkey
['monkey', 'dog', 'fish']

In [5]:
# Length of an array
animals = ['monkey', 'dog', 'fish', 'cat', 'bird']
v = len(animals)
print(v)

5

In [7]:
# Looping array elements
animals = ['monkey', 'dog', 'fish', 'cat', 'bird']
for animal in animals:
  print(animal)

monkey
dog
fish
cat
bird

In [9]:
# Looping array elements
animals = ['monkey', 'dog', 'fish', 'cat', 'bird']
for animal in animals:
  print('animal[%s] = %s' % (animals.index(animal), animal))

animal[0] = monkey
animal[1] = dog
animal[2] = fish
animal[3] = cat
animal[4] = bird

In [11]:
animals = ['monkey', 'dog', 'fish', 'cat', 'bird']
for i, animal in enumerate(animals):
  print('animal[%s] = %s' % (i, animal))

animal[0] = monkey
animal[1] = dog
animal[2] = fish
animal[3] = cat
animal[4] = bird

In [12]:
# Adding element/s in an array
animals = ['monkey', 'dog', 'fish', 'cat', 'bird']
animals.append('lion')
print(animals)

['monkey', 'dog', 'fish', 'cat', 'bird', 'lion']

In [17]:
# Let's Try
# Write a Python program to insert a new item (11) efore the second element in 
# an existing array.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.insert(1, 11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# Removing element/s in the array
numbers.pop(1)
print(numbers)

[1, 3, 4, 5, 6, 7, 8, 9, 10]